.button {
    border-top: 1px solid #4487b3;
    background: #4487b3;
    padding: 7.5px 15px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 15px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    margin: 0.5rem;
    padding: 0.5rem;
    }

.button:hover {
    border-top-color: #1f4863;
    background: #1f4863;
    color: #ffffff;
    }

.button:active {
    border-top-color: #0d2d42;
    background: #0d2d42;
    }